@use "../global" as g;

// 接頭辞：bl_

// ----------------------------------------------------------------
// ヘッダー
// ----------------------------------------------------------------
.bl_headerNav{
  font-family:	g.$ff-notosans-medium;
  font-weight: bold;
  @include	g.mq('pc'){
    @include	g.fz(14);
    margin-left: 64px;
  }
  @include	g.mq(){
    @include	g.fz(16);
    width: 100%;
    height: 100%;
    background-color:	rgba(255, 255, 255, .8);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform .4s;
    z-index: map-get(g.$layer, "sp-menu");
  }
}
.bl_headerList{
  display: flex;
  justify-content: space-between;
  @include	g.mq('pc'){
    li:not(:first-of-type){
      margin-left: 56px;
    }
  }
  a{
    color: g.$color-main;
    display: block;
    line-height:	g.division(21, 14);
    padding: 9.5px 0;
    transition: color .4s;
  }
  @include	g.mq('pc'){
    a:hover{
      color: g.$color-active;
    }
  }
  @include	g.mq('sp'){
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
    > li{
      line-height: 1.7;
      margin-bottom: 2em;
    }
  }
}
// ----------------------------------------------------------------
// フッター
// ----------------------------------------------------------------
.bl_footerContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include	g.mq(){
    flex-direction: column;
  }
  > a{
    display: block;
    img{
      width: 147px;
    }
  }
}
.bl_footerList{
  display: flex;
  @include	g.mq(){
    flex-direction: column;
    margin-top: 1em;
    li:not(:last-of-type){
      margin-bottom: 1em;
    }
  }
  a{
    color:	g.$color-main;
    font-family:	g.$ff-notosans-medium;
    @include	g.fz(14);
    line-height:	g.division(21,	14);
    padding: 6px 0;
    transition: color .4s;
  }
  @include	g.mq('pc'){
    li:not(:last-of-type){
      margin-right: 56px;
    }
    a:hover{
      color: g.$color-active;
    }
  }
}
small{
  color: g.$color-lightGray;
  display: inline-block;
  @include	g.fz(10);
  line-height:	g.division(15,	10);
  margin-top: 25.05px;
}


// ----------------------------------------------------------------
// ----------------------------------------------------------------
// トップページ
// ----------------------------------------------------------------
// ----------------------------------------------------------------
// ----------------------------------------------------------------
//  ファーストビュー
// ----------------------------------------------------------------
.bl_fvContent{
  padding-top: 237px;
  position: relative;
  z-index: map-get(g.$layer, "default");
  @include	g.mq(){
    padding-top: 172px;
  }
  p{
    line-height:	g.division(24,	16);
    letter-spacing:	g.division(16, 1000	)	+	em;
    color: g.$color-dark;
  }
}
.bl_fvBtn_wrap{
  margin-top: 20px;
}
// ----------------------------------------------------------------
//  お知らせ
// ----------------------------------------------------------------
.bl_vertPosts{
  @include	g.mq('pc'){
    margin-left: 32px;
  }
}
.bl_vertPosts_item:not(:last-of-type){
  margin-bottom: 19px;
}
.bl_vertPosts_date{
  color: g.$color-dark;
  display: inline-block;
  @include	g.fz(14);
  line-height:	g.division(21,	14);
  min-width: 88px;
}
.bl_vertPosts_ttl{
  color: g.$color-main;
  text-decoration: underline;
  margin-left: 12px;
  &:hover{
    color: g.$color-active;
    text-decoration: underline;
  }
}
// ----------------------------------------------------------------
//  ペットを探す（下層ページの猫種一覧にも使用）
// ----------------------------------------------------------------
.bl_cardUnit.bl_cardUnit__col4Pet{
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  @include	g.mq(){
    padding: 0;
  }
}
// 各カードに対する指定
.bl_cardUnit__col4Pet > .bl_card{
  width: 20.91%;
  margin-right: 5.45%;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  @include	g.mq('pc'){
    margin-bottom: 50px;
    &:hover .bl_card_link::before{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: map-get(g.$layer, "default");
    }
    &:hover .bl_card_link{
      color: g.$color-active;
    }
    &:hover .bl_card_imgWrapper{
      opacity: 0.5;
    }
  }
  @include	g.mq(){
    width: 45%;
    margin-right: 10%;
    margin-bottom: 40px;
  }
}
.bl_cardUnit__col4Pet > .bl_card:nth-of-type(4n){
  @include	g.mq('pc'){
    margin-right: 0;
  }
}
.bl_cardUnit__col4Pet > .bl_card:nth-of-type(2n){
  @include	g.mq(){
    margin-right: 0;
  }
}
.bl_cardUnit__col4Pet .bl_card_ttl{
  @include	g.fz(18);
  letter-spacing:	1px;
  line-height:	g.division(27,	18);
  text-align: center;
  margin-top: 26px;
  @include	g.mq(){
    @include	g.fz(15);
  }
}
.bl_cardUnit__col4Pet .bl_card_link{
  color: g.$color-main;
  display: block;
  min-height: 54px;
  transition: color .4s;
}
.bl_cardUnit__col4Pet .bl_card_imgWrapper{
  transition: opacity .4s;
}
// ----------------------------------------------------------------
//  お店を探す
// ----------------------------------------------------------------
.bl_map{
  position: relative;
  margin: 77px auto 64px;
  @include	g.mq('pc'){
    max-width: 672px;
    width: 100%;
    height: 392px;
  }
  @include	g.mq(){
    max-width: 335px;
    height: 163px;
  }
  img{
    width: 506px;
    position: absolute;
    top:-77px;
    left: 50%;
    transform: translateX(-50%);
    @include	g.mq(){
      width: 260px;
    }
  }
}
// ----------------------------------------------------------------
//  ブログ
// ----------------------------------------------------------------
.bl_cardUnit.bl_cardUnit__col4Blog{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 54px;
  @include	g.mq(){
    flex-direction: column;
    padding: 0;
  }
}
// 各カードに対する指定
.bl_cardUnit__col4Blog > .bl_card{
  width: 21.225%;
  margin-right: 5.03%;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  @include	g.mq('pc'){
    &:hover .bl_card_link::before{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: map-get(g.$layer, "default");
    }
    &:hover .bl_card_link{
      color: g.$color-active;
    }
    &:hover .bl_card_imgWrapper{
      opacity: 0.5;
    }
  }
  @include	g.mq(){
    width: 100%;
    margin-right: 0;
    &:not(:last-of-type){
      margin-bottom: 50px;
    }
  }
}
.bl_cardUnit__col4Blog > .bl_card:nth-of-type(4n){
  margin-right: 0;
}
.bl_cardUnit__col4Blog .bl_card_imgWrapper{
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  @include	g.mq(){
    margin-bottom: 4vw;
  }
}
.bl_cardUnit__col4Blog img{
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bl_cardUnit__col4Blog .bl_card_ttl{
  @include	g.fz(16);
  line-height:	g.division(24,	16);
}
.bl_cardUnit__col4Blog .bl_card_time{
  @include	g.fz(12);
  line-height:	g.division(19,	12);
  color: g.$color-lightGray;
}
.bl_cardUnit__col4Blog .bl_card_link{
  color: g.$color-main;
  display: block;
  min-height: 72px;
  transition: color .4s;
  @include	g.mq(){
    min-height: 2em;
  }
}
.bl_cardUnit__col4Blog .bl_card_imgWrapper{
  @include	g.mq('pc'){
    transition: opacity .4s;
    margin-bottom: 28px;
  }
}
.bl_cardUnit__col4Blog .bl_card_time{
  margin-top: 6px;
}
// ----------------------------------------------------------------
//  サイトについて
// ----------------------------------------------------------------
.bl_aboutContent{
  text-align: left;
  @include	g.mq('pc'){
    max-width: 470px;
    margin-left: auto;
  }
}
.bl_about_ttl{
  @include	g.fz(20);
  line-height:	g.division(30,	20);
}
.bl_about_txt{
  color: g.$color-dark;
  line-height:	g.division(24,	16);
  margin-top: 18px;
  @include	g.mq(){
    .br{
      display: none;
    }
  }
}


// ----------------------------------------------------------------
// ----------------------------------------------------------------
// 猫種一覧ページ
// ----------------------------------------------------------------
// ----------------------------------------------------------------
.bl_cardUnit.bl_cardUnit__col3Pet{
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  margin-top: -8px;
  margin-bottom: 14px;
  @include	g.mq(){
    padding: 0;
  }
}
// 各カードに対する指定
.bl_cardUnit__col3Pet > .bl_card{
  display: flex;
  opacity: 1;
  transition: opacity .4s;
  @include	g.mq('pc'){
    width: 30.91%;
    margin-right: 3.635%;
    position: relative;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 50px;
    &:hover .bl_card_link::before{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: map-get(g.$layer, "default");
    }
    &:hover .bl_card_link{
      color: g.$color-active;
    }
    &:hover .bl_card_imgWrapper{
      opacity: 0.5;
    }
  }
  @include	g.mq(){
    width: 45%;
    margin-right: 10%;
    margin-bottom: 40px;
    flex-direction: column-reverse;
  }
}
.bl_cardUnit__col3Pet > .bl_card:nth-of-type(3n){
  @include	g.mq('pc'){
    margin-right: 0;
  }
}
.bl_cardUnit__col3Pet > .bl_card:nth-of-type(2n){
  @include	g.mq(){
    margin-right: 0;
  }
}
.bl_cardUnit__col3Pet .bl_card_ttl{
  @include	g.fz(16);
  line-height:	g.division(24,	16);
  text-align: left;
  margin-top: 10px;
  margin-left: 1em;
  @include	g.mq(){
    @include	g.fz(15);
    text-align: center;
  }
}
.bl_cardUnit__col3Pet .bl_card_link{
  color: g.$color-main;
  display: block;
  min-height: 54px;
  transition: color .4s;
}
.bl_cardUnit__col3Pet .bl_card_imgWrapper{
  @include	g.mq('pc'){
    max-width: 96px;
    width: 100%;
    transition: opacity .4s;
  }
}
// ----------------------------------------------------------------
// ----------------------------------------------------------------
// パンくずリスト
// ----------------------------------------------------------------
// ----------------------------------------------------------------
.bl_breadcrumb{
  max-width: g.$layout-width-inner;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  @include	g.mq(){
    padding: 0 4vw;
  }
  li:not(:last-of-type):after{
    content: ">";
    color: g.$color-dark;
  }
  a{
    color: g.$color-dark;
    display: inline-block;
    @include	g.fz(12);
    line-height:	g.division(18,	12);
    padding: 0 .7em 0 1em;
    @include	g.mq('pc'){
      transition: color .4s;
      &:hover{
        color: g.$color-active;
      }
    }
  }
}


// ----------------------------------------------------------------
// ----------------------------------------------------------------
// 各店舗の猫一覧ページ
// ----------------------------------------------------------------
// ----------------------------------------------------------------
.bl_MediaList{
  margin-bottom: 52px;
}
.bl_Media{
  display: flex;
  @include	g.mq('pc'){
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: flex-end;
  }
  @include	g.mq(){
    flex-direction: column-reverse;
    align-items: center;
  }
  .bl_Media_imgWrapper{
    flex: 0 1 38.37%;
    margin-right: 3.266%;
    position: relative;
    overflow: hidden;
    padding-top: 26.5%;
    @include	g.mq(){
      width: 100%;
      margin-right: 0;
      padding-top: 64%;
    }
    img{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 20px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .bl_mediaBody{
    @include	g.mq('pc'){
      /* flex-growの初期値は0[伸びる比率] */
      flex: 1;
    }
    @include	g.mq(){
      margin-top: 1em;
    }
  }
  .bl_mediaTtl{
    @include	g.fz(24);
    line-height:	g.division(36,	24);
    margin-bottom: 17px;
  }
  dl{
    @include	g.mq('pc'){
      margin-bottom: 37px;
    }
    @include	g.mq(){
      margin-bottom: 24px;
    }
    > div{
      display: flex;
      align-items: center;
      @include	g.fz(14);
      &:first-of-type{
        margin-bottom: 12.5px;
      }
      &:nth-of-type(2){
        margin-bottom: 5px;
      }
    }
  }
  dt{
    color: g.$color-lightGray;
    flex-basis: 56px;
    margin-right: 16px;
    font-weight: 300;
  }
  dd{
    color: g.$color-dark;
    font-weight: 300;
  }
  span{
    color: g.$color-main;
    @include	g.fz(20);
    font-weight: 600;
    line-height:	g.division(30,	20);
  }
  &:not(:first-of-type){
    padding-top: 48px;
  }
  &:not(:last-of-type){
    padding-bottom: 48px;
    border-bottom: 1px solid #e7e7e7;
  }
}
.bl_pager{
  display: flex;
  overflow: auto;
}
.bl_pager_inner{
  display: flex;
  margin-right: auto;
  margin-left: auto;
  > *:last-child{
    margin-right: 0;
  }
  > li{
    margin-right: 12px;
  }
}
.bl_pager_link{
  color: g.$color-lightGray;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    color: g.$color-main;
  }
}
/* ページ下の店舗詳細セクション */
.bl_halfMedia{
  display: flex;
  @include	g.mq('pc'){
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: flex-end;
  }
  @include	g.mq(){
    flex-direction: column-reverse;
    align-items: center;
  }
  .bl_halfMedia_imgWrapper{
    position: relative;
    overflow: hidden;
    flex: 0 1 43.266%;
    margin-right: 3.266%;
    padding-top: 23.675%;
    @include	g.mq(){
      width: 100%;
      margin-right: 0;
      padding-top: 64%;
    }
    img{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-radius: 20px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .bl_halfMedia_body{
    /* flex-growの初期値は0[伸びる比率] */
    flex: 1;
    text-align: left;
    margin-bottom: 2px;
    @include	g.mq(){
      margin-top: 1em;
    }
  }
  .bl_halfMedia_ttl{
    @include	g.fz(24);
    line-height:	g.division(36,	24);
    margin-bottom: 17px;
  }
}
.bl_basicInfo_wrap{
  margin-bottom: 24px;
}
.bl_basicInfo{
  display: flex;
  @include	g.fz(14);
  @include	g.mq('pc'){
    align-items: center;
  }
  @include	g.mq(){
    flex-direction: column;
  }
  &:not(:nth-of-type(3n)){
    margin-bottom: 12.5px;
    @include	g.mq(){
      margin-bottom: 1.2em;
    }
  }
  &:nth-of-type(3n){
    margin-bottom: 8px;
  }
  &:last-of-type{
    margin-bottom: 0;
  }
  dt{
    color: g.$color-lightGray;
    font-weight: 300;
    @include	g.mq('pc'){
      flex-basis: 56px;
      margin-right: 16px;
    }
    @include	g.mq(){
      margin-bottom: 8px;
    }
  }
  dd{
    color: g.$color-dark;
    font-weight: 300;
  }
}
