@use "../global" as g;

// 接頭辞：hp_

// ----------------------------------------------------------------
// floatによる回り込みを防ぐ
// ----------------------------------------------------------------
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
// ----------------------------------------------------------------
// padding調整用
// ----------------------------------------------------------------
.hp_pt15{
  padding-top: 15px !important;
}
.hp-pt0{
  padding-top: 0 !important;
}
@include	g.mq('pc'){
  .hp_pt475{
    padding-top: 475px !important;
  }
  .hp_pt637{
    padding-top: 637px !important;
  }
}
