@use "../global" as g;

// 接頭辞：hp_

// ----------------------------------------------------------------
// floatによる回り込みを防ぐ
// ----------------------------------------------------------------
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
// ----------------------------------------------------------------
// padding調整用
// ----------------------------------------------------------------
.hp_pt15{
  padding-top: 15px !important;
}
.hp-px4vw{
  padding: 0 4vw;
}
