@use "../global" as g;

// 接頭辞：un_
// ----------------------------------------------------------------
// あるページのみに適用させたいスタイル
// ----------------------------------------------------------------
.un_h100vh{
  display: flex;
  justify-content:	space-between;
  flex-direction: column;
  height: 100vh;
}
