@use "../global" as g;

// 接頭辞：ly_
// ----------------------------------------------------------------
// トップページ
// ----------------------------------------------------------------
.ly_section{
  padding: 96px 0;
  @include	g.mq(){
    padding: 30px 0;
  }
}
.ly_sectionInner{
  max-width: g.$layout-width-inner;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  @include	g.mq(){
    width: 100%;
    padding: 0 4vw;
  }
}
// ----------------------------------------------------------------
//  ファーストビュー
// ----------------------------------------------------------------
.ly_fv{
  overflow-x: hidden;
  background-color:	g.$color-base;
  position: relative;
  @include	g.mq(){
    padding-bottom: 30px;
  }
}
.ly_fvInner{
  position: relative;
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
  @include	g.mq('pc'){
    height: 587px;
  }
  @include	g.mq(){
    padding: 0 4vw;
  }
  img{
    position: absolute;
    top: 0;
    right: -240px;
    @include	g.mq(){
      transform: translateX(-50%);
    }
  }
}
// ----------------------------------------------------------------
//  お知らせ
// ----------------------------------------------------------------
.ly_section__info{
  @include	g.mq('pc'){
    padding: 0;
    position: relative;
  }
  @include	g.mq(){
    background-color:	g.$color-base;
    padding-right: 4vw;
    padding-left: 4vw;
  }
  .ly_sectionInner{
    background-color: rgba(255,255,255,.7);
    display: flex;
    border-radius: 16px;
    text-align: left;
    @include	g.mq('pc'){
      padding: 38px 40px 17px 40px;
      position: absolute;
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
    }
    @include	g.mq(){
      flex-direction: column;
      padding: 4vw;
    }
  }
}
// ----------------------------------------------------------------
//  ペットを探す
// ----------------------------------------------------------------
.ly_home .ly_section__pet{
  background-color:	g.$color-base;
  @include	g.mq('pc'){
    padding-top: 190px;
  }
  @include	g.mq(){
    padding-bottom: 60px;
  }
}
// ----------------------------------------------------------------
//  お店を探す
// ----------------------------------------------------------------
.ly_section__shop{
  padding-bottom: 60px;
  @include	g.mq(){
    .ly_sectionInner{
      padding: 0 4vw;
    }
  }
}
// ----------------------------------------------------------------
//  ブログ
// ----------------------------------------------------------------
.ly_section__blog{
  background-color:	g.$color-base;
  padding-bottom: 60px;
  @include	g.mq(){
    .ly_sectionInner{
      padding: 0 4vw;
    }
  }
}
// ----------------------------------------------------------------
//  サイトについて
// ----------------------------------------------------------------
.ly_section__about{
  background-color:	g.$color-gray;
  padding-bottom: 83px;
  @include	g.mq(){
    padding-bottom: 0;
  }
  .ly_sectionInner{
    position: relative;
    max-width: 800px;
    width: 100%;
    @include	g.mq(){
      padding: 0 4vw;
    }
  }
  img{
    @include	g.mq('pc'){
      position: absolute;
      width: 363px;
      top: 20px;
      left: -5%;
    }
  }
}


// ----------------------------------------------------------------
// 猫一覧ページ
// ----------------------------------------------------------------
.ly_under{
  padding-top: 125px;
  @include	g.mq(){
    padding-top: 70px;
  }
}


// ----------------------------------------------------------------
// 各店舗の猫一覧ページ
// ----------------------------------------------------------------
.ly_section__shopCat_list {
  padding-bottom: 0;
  > .ly_sectionInner{
    border-bottom: 1px solid #e7e7e7;
    text-align: left;
    padding-bottom: 76px;
    @include	g.mq(){
      padding-bottom: 44px;
    }
    > .el_lv2Heading{
      text-align: left;
      margin-bottom: 19px;
    }
  }
}


// ----------------------------------------------------------------
// ブログ一覧、ブログ詳細ページ
// ----------------------------------------------------------------
.ly_blogWrapper{
  position: relative;
  &::before{
    @include	g.mq('pc'){
      content: "";
      position: absolute;
      background-color:	g.$color-base;
      top: -132px;
      right: 0;
      width: 29.167vw;
      height: 100%;
      display: block;
    }
  }
}
.ly_blogInner{
  position: relative;
  @include	g.mq('pc'){
    margin-top: 15px;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
  }
  > .ly_main{
    width: 75.512%;
    padding-bottom: 109px;
    @include	g.mq(){
      padding: 0 4vw 48px 4vw;
      width: 100%;
    }
  }
}
.ly_breadcrumbWrapper{
  max-width: 980px;
  margin: 125px auto 0 auto;
  position: relative;
  z-index: map-get(g.$layer, "floating");
  @include	g.mq(){
    margin-top: 70px;
  }
}
.ly_blogInner > .ly_blogSingle{
  padding-bottom: 96px;
  @include	g.mq(){
    margin-top: 4vw;
  }
}
.ly_blogSingle > .ly_section__shopDetail{
  border-top: 1px solid #e7e7e7;
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 684px;
  margin-right: auto;
}
.ly_section__newPost{
  border-top: 1px solid #e7e7e7;
  padding-top: 79px;
  padding-bottom: 0;
  max-width: 684px;
  margin-right: auto;
}
.ly_sectionInner.ly_sectionCat_detail{
  padding-top: 36px;
  padding-bottom: 56px;
  border-bottom: 1px solid #e7e7e7;
  @include	g.mq(){
    padding-top: 0;
  }
}
.ly_section__attention{
  padding-top: 0;
  padding-bottom: 32px;
  .ly_sectionInner{
    border-top: 1px solid #e7e7e7;
    padding-top: 80px;
    @include	g.mq(){
      padding-top: 40px;
    }
  }
}


// ----------------------------------------------------------------
// 店舗一覧ページ
// ----------------------------------------------------------------
.ly_shopList{
  .ly_section__shopDetail{
    padding-top: 64px;
    @include	g.mq(){
      padding-top: 34px;
    }
  }
  .bl_shopPet{
    &:not(:last-of-type){
      margin-bottom: 70px;
    }
  }
}


// ----------------------------------------------------------------
// 404ページ
// ----------------------------------------------------------------
.ly_404{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
