@use "../global" as g;

// 接頭辞：ly_

// ----------------------------------------------------------------
// ブログ一覧、ブログ詳細ページ
// ----------------------------------------------------------------
.ly_aside{
  width: 29.167%;
  height: 100%;
  background-color:	g.$color-base;
  padding-top: 801px;
  padding-left: 56px;
  position: absolute;
  top: 0;
  right: 0;
}
