@use "../global" as g;
// 接頭辞：ly_
// ----------------------------------------------------------------
// ブログ一覧、ブログ詳細ページ
// ----------------------------------------------------------------
.ly_aside{
  width: 24.49%;
  padding-top: 628px;
  padding-left: 56px;
  position: relative;
  height: auto;
  padding-bottom: 109px;
  &::before{
    content: "";
    position: absolute;
    background-color:	g.$color-base;
    width: 100%;
    height: 107%;
    top: -7%;
    left: 0;
    display: block;
    z-index: map-get(g.$layer, "underlay");
    @include	g.mq(){
      top: 0;
      height: 100%;
    }
  }
  @include	g.mq(){
    width: 100%;
    padding: 48px 4vw;
    text-align: center;
  }
}
